.card-anchor {
    text-decoration: none;
    color: white;


    .card-container {
        background: #3d3e42;
        // border-radius: 1em;
        transition: color 0.3s ease;
        box-shadow: 0 70px 63px -60px #000000;


        &:hover {
            background: #f0bf6c;
        }
    }

}