<!-- Container for the 'About' section with top margin -->
<div class="about-container mt-5 animate-on-scroll">

    <!-- Row for the header, aligned to the left on large screens -->
    <div class="row text-center text-lg-start mb-4">

        <!-- Column for the 'About' header -->
        <div class="col-12 about-header">
            What do I bring to the table?
        </div>
    </div>

    <!-- Row for the main content with vertical margin -->
    <div class="row my-3">

        <!-- Column for the underline (visible only on medium and larger screens) -->
        <div class="col-1 py-2 my-1 d-none d-md-block" style="width: 4em;">
            <span class="about-underline d-block"></span>
        </div>

        <!-- Column for the main description, centered on small screens and left-aligned on large screens -->
        <div class="col-12 col-lg-10 about-description text-center text-lg-start">
            <div>
                Over 5 years of robust technical expertise gained from working with startups and large consulting firms in both India and Canada.
            </div>
        </div>
    </div>

    <!-- Row for the main content with vertical margin -->
    <div class="row my-3">

        <!-- Column for the underline (visible only on medium and larger screens) -->
        <div class="col-1 py-2 my-1 d-none d-md-block" style="width: 5em;">
            <span class="about-underline d-block"></span>
        </div>

        <!-- Column for the main description, centered on small screens and left-aligned on large screens -->
        <div class="col-12 col-lg-10 about-description text-center text-lg-start">
            <div>
                Ability to seamlessly work on diverse technologies and tech stacks while maintaining the high standards of code quality and reliability.
            </div>
        </div>
    </div>

    <!-- Row for the main content with vertical margin -->
    <div class="row my-3">

        <!-- Column for the underline (visible only on medium and larger screens) -->
        <div class="col-1 py-2 my-1 d-none d-md-block" style="width: 6em;">
            <span class="about-underline d-block"></span>
        </div>

        <!-- Column for the main description, centered on small screens and left-aligned on large screens -->
        <div class="col-12 col-lg-10 about-description text-center text-lg-start">
            <div>
                Collaborative team player who spearheaded a team of over five developers, providing mentorship, delegating and overseeing the maintenance of an AI-powered enterprise sales application for a duration of two years.
            </div>
        </div>
    </div>
</div>