<!-- Container for the 'About' section with top margin -->
<div class="about-container mt-5 animate-on-scroll row pt-5 pb-5">

    <section class="col-md-8 col-lg-7 offset-lg-1 d-md-flex align-self-center py-3">
        <div class="w-50">
            <div class="p-4">
                For more than four years, I've been deeply involved in enterprise software, working with both large
                consulting firms and small startups. This journey has taught me to adapt well, ensuring that <span
                    class="highlight-inner-text">every piece
                    of code I create is not only functional but also easy to maintain and understand</span>. </div>
            <div class="p-4">
                In addition to coding, I've taken on leadership roles, guiding developer teams to success by balancing
                guidance with autonomy. Recently, I completed a <span class="highlight-inner-text"> Master's in Applied
                    Computer Science at Dalhousie
                    University</span>, specializing in <span class="highlight-inner-text">Cloud Technologies and Web3
                </span>, which has significantly broadened my technical
                skills. </div>
        </div>
        <div class="w-50">
            <div class="p-4">
                Right now, I'm dedicated to creating secure, automated solutions for the healthcare industry, with a
                strong focus on pharmaceuticals and age-restricted consumer goods. I'm also actively engaged with the
                <span class="highlight-inner-text">SMART Lab at Dalhousie University and Mitacs</span>, where I'm
                pushing the boundaries of code quality for
                dynamic startup settings and promoting collaborative development efforts.
            </div>
            <div class="p-4">
                When I'm not in front of my screen, I'm out <span class="highlight-inner-text">capturing cityscapes and
                    landscapes</span> with my camera, striving
                to capture their essence and create visual delight. I love sharing my edited photos on platforms like
                Pexels.com and Adobe Lightroom community, nurturing my passion one click at a time. </div>
        </div>
    </section>
    <section class="col-md-4 col-lg-3 d-none d-md-block"><img class="profile-pic" style="width: 100%;"
            src="../assets/profile-pic.jpg" alt="coder">
    </section>

</div>