<!-- Container for the 'About' section with top margin -->
<div class="about-container mt-5 animate-on-scroll row">

    <section class="col-md-8 d-md-flex align-self-center py-3 h5">
        <div>
            <div class="p-4">
                For over five years, I've immersed myself in the realm of enterprise software, navigating through the
                landscapes of both large consultancies and agile startups. This journey has honed my adaptability, ensuring
                that every line of code I write is not just functional but also impeccably maintainable and readable.
            </div>
            <div class="p-4">
                In addition to hands-on coding, I've taken on leadership roles, steering teams of developers to success with
                a blend of guidance and autonomy. My recent completion of a Master's program in Applied Computer Science at
                Dalhousie University, specializing in Cloud Technologies and Web3, has further enriched my technical
                arsenal.
            </div>
        </div>
        <div>
            <div class="p-4">
                Currently, I am dedicated to crafting secure, automated solutions in the health,
                particularly in pharmaceuticals and age-restricted consumer products. Beyond that, I am actively
                engaged with SMART Lab at Dalhousie University and Mitacs, pioneering advancements in code quality tailored
                for the fast-paced startup environment and collaborative development efforts.
            </div>
            <div class="p-4">
                Want to chat more - <a href="href='mailto:madanmayank5@gmail.com?subject=Saying Hello&body=Hello!'" class="highlight-inner-text" style="text-decoration: underline;"> Send out an email </a>
            </div>
        </div>
    </section>
    <section class="col-md-4 d-none d-md-block"><img class="profile-pic" style="width: 100%;"
            src="../assets/profile-pic.jpg" alt="coder">
    </section>

</div>