<div class="introduction-container">
    <div class="main-text">
        Hey, I'm <span class="highlight-inner-text">Mayank Madan</span>
        Full Stack Developer
    </div>
    <div class="secondary-text my-2">
        Graduating from <a class="highlight-inner-text" target="_blank" href="https://www.dal.ca/">DalU</a>, ready to
        get in action.
    </div>
    <button type="button"
        class="btn btn-large btn-outline-primary my-3 px-4 contact-button highlight-inner-text">Contact
        Me</button>
    <div class="d-flex my-1">
        <a href="https://hackernoon.com/u/doomsdayprotocol" target="_blank"> <img src="../../assets/hackernoon.png"
                alt="hackernoon" class="mx-2 social-media-icon" height="30"></a>
        <a href="https://www.linkedin.com/in/mayank-madan/" target="_blank"> <img src="../../assets/linkedin.png"
                alt="instagram" class="mx-2 social-media-icon" height="30"></a>
        <a href="https://github.com/MayankMadan97" target="_blank"> <img src="../../assets/github.png" alt="instagram"
                class="mx-2 social-media-icon" height="30"></a>
        <a href="https://www.instagram.com/_mayankmadan_/" target="_blank"> <img src="../../assets/instagram.png"
                alt="instagram" class="mx-2 social-media-icon" height="30"></a>
    </div>
</div>