@import '../../styles.scss';


.navbar-container {

    .logo {
        width: 25%;
    }

    @media only screen and (max-width: 600px) {
        .logo {
            display: flex;
            justify-content: center;
            width: 100%;

        }
    }

    .navbar-item {
        font-size: 1.2em;
        cursor: pointer;
        transition: color 0.3s ease;
        text-decoration: none;
        color: $base-color;

        &:hover {
            color: $highlight-color;
        }
    }
}