<div class="row acheivements-view-container mt-5 animate-on-scroll">
  <div class="col-10 offset-1">
      <div class="row acheivements-header text-lg-start mb-4">
          <div class="acheivements-heading col-12">Achievements</div>
      </div>
      <div class="row my-2">
          <div class="col-12">
              <div class="row">
                  <div *ngFor="let item of achievements" class="my-3">
                      <h4 class="highlight-inner-text">{{item.title}}</h4>
                      <div style="font-size: 1.2em;">{{item.body}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>