<div class="row my-4" *ngIf="cardDetail">
    <div class="col-12 position-relative p-3 proj-card-container "
        [ngStyle]="{'background-image': 'url(' + cardDetail.image + ')'}">
        <div class="filter-cover p-4 d-flex">
            <div class="align-self-end">
                <h2 class="title align-self-end">{{cardDetail.title}}</h2>
                <p class="copy">{{cardDetail.body}}</p>
                <a [attr.href]="cardDetail.link" target="_blank" class="visit-project btn btn-outline-light">Explore</a>
            </div>
        </div>
    </div>
</div>