<div class="row portfolio-view-container mt-5 animate-on-scroll">
    <div class="col-10 offset-1">
        <div class="row portfolio-header text-center text-lg-start">
            <div class="portfolio-heading col-12">Projects</div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <div class="row">
                    <app-project-card class="col-12 col-md-3 p-4" *ngFor="let item of projectData" [cardDetail]="{id: item.id, title: item.title, body: item.body
                , link: item.link, image: item.image}"></app-project-card>
                </div>
            </div>
        </div>
    </div>
</div>