<div class="introduction-container px-4 text-center text-lg-start">
        <div class="main-text">
                <span class="hide"> <span class="hide-elem">Hey, I'm</span> </span>
                <span class="hide"> <span class="highlight-inner-text hide-elem">Mayank Madan</span></span>
                <span class="hide"> <span class="hide-elem">Full Stack Developer</span></span>
        </div>
        <div class="secondary-text my-2 hide">
                <span class="hide-elem"> Graduating from <a class="highlight-inner-text" target="_blank"
                                href="https://www.dal.ca/">DalU</a>,
                        ready to
                        get in action.
                </span>
        </div>
        <div class="intro-contact-info">
                <a href='mailto:madanmayank5@gmail.com?subject=Saying Hello&body=Hello!'> <button type="button"
                                class="btn btn-large btn-outline-primary my-3 px-4 contact-button highlight-inner-text">Contact
                                Me</button></a>
                <div class="d-flex my-1 justify-content-center justify-content-lg-start">
                        <a href="https://hackernoon.com/u/doomsdayprotocol" target="_blank"> <img
                                        src="../../assets/hackernoon.png" alt="hackernoon"
                                        class="mx-2 social-media-icon" height="30"></a>
                        <a href="https://www.linkedin.com/in/mayank-madan/" target="_blank"> <img
                                        src="../../assets/linkedin.png" alt="instagram" class="mx-2 social-media-icon"
                                        height="30"></a>
                        <a href="https://github.com/MayankMadan97" target="_blank"> <img src="../../assets/github.png"
                                        alt="instagram" class="mx-2 social-media-icon" height="30"></a>
                        <a href="https://www.instagram.com/_mayankmadan_/" target="_blank"> <img
                                        src="../../assets/instagram.png" alt="instagram" class="mx-2 social-media-icon"
                                        height="30"></a>
                </div>
        </div>
</div>