<section class="container-fluid">
    <section class="row navbar p-0">
        <div class="col-12">
            <app-navbar></app-navbar>
        </div>
    </section>
    <section class="row landing-container mb-4 mx-lg-2">
        <section class="col-md-5 d-flex align-self-center"><app-introduction></app-introduction></section>
        <section class="col-md-7 d-none d-md-block"><img class="coder-vector" src="../assets/coder-vector.png"
                alt="coder">
        </section>
    </section>
    <section class="dark-bg-view-container row">
        <section class="about col-12 px-5 py-5" id="about">
            <app-about></app-about>
        </section>
        <section class="about col-12 px-5 py-3" id="experience">
            <app-experience></app-experience>
        </section>
        <section class="row col-12 px-5 py-3" id="skills">
            <app-skills></app-skills>
        </section>
        <section class="row col-12 px-5 py-3" id="portfolio">
            <app-portfolio></app-portfolio>
        </section>
        <section class="row col-12 px-5 py-3 justify-content-center" id="footer">
           Designed and Built with <span style="font-size: 130%; color: red; display: contents;">&hearts;</span>  by Mayank Madan
        </section>
    </section>
    <!-- <section class="footer row p-4 d-none d-md-block text-center">
        <h5>Thanks for visting :)</h5>
    </section> -->
    <a class="position-fixed mx-4 download-resume animate-on-scroll" target="_blank" download="mayank-madan-SDE"
        href="../assets/mayank-madan-SDE.pdf"><img src="../assets/resume.png" height="50"
            alt="Download Resume"></a>
</section>