<div class="about-container p-4">
    <div class="row ">
        <div class="col-12 about-header">
            About
        </div>
    </div>
    <div class="row my-3">
        <div class="col-1 py-2 my-1 d-none d-md-block">
            <span class="about-underline d-block"></span>
        </div>
        <div class="col-10 about-description">
            I am a <span class="highlight-inner-text">Research Intern at Lab2Market</span> , focused on improving
            software quality assurance through data analysis
            and
            collaboration with experts. Simultaneously, I'm pursuing a Master's in Applied Computer Science at Dalhousie
            University, building expertise in software development and cloud computing. Prior to this, I worked as a
            <span class="highlight-inner-text"> Senior
                Product Engineer at Tata Consultancy Services</span>, where I specialized in model-driven engineering
            and
            contributed
            significantly to project success. I worked extensively on a low coding platform for non-technical
            stakeholders to bring thier ideas to life.
        </div>
    </div>
</div>