<div class="row skill-view-container mb-5">
    <div class="col-12">
        <div class="row text-center skills-header py-5">
            <div class="skills-heading col-12">Skills</div>
            <div class="skills-sub-heading col-12">Languages and Frameworks</div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <app-card class="col-2" *ngFor="let skill of skillDetailList"
                        [icon]="{imgSrc:skill.imgSrc, title:skill.title, link: skill.link}"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>