<section class="container-fluid">
    <section class="row navbar">
        <div class="col-12">
            <app-navbar></app-navbar>
        </div>
    </section>
    <section class="row landing-container">
        <section class="col-md-5 d-flex align-self-center"><app-introduction></app-introduction></section>
        <section class="col-md-7"><img class="coder-vector" src="../assets/coder-vector.png" alt="coder">
        </section>
    </section>
    <a class="position-fixed mx-4 my-2 download-resume" target="_blank" download="mayank-madan-SDE-3YoE"
        href="../assets/mayank-madan-SDE-3YoE.pdf"><img src="../assets/resume.png" height="50"
            alt="Download Resume"></a>
    <section class="row skills-container my-5">
        <app-skills></app-skills>
    </section>
</section>