/* You can add global styles to this file, and also import other style files */

$highlight-color : #ffc86a;
$highlight-color-secondary : #6c26de;
$base-color: #414042;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $base-color;

    .highlight-inner-text {
        color: $highlight-color;
        cursor: pointer;
        text-decoration: none;

    }
}