/* You can add global styles to this file, and also import other style files */

$highlight-color : #ffc86a;
$highlight-color-secondary : #6c26de;
$base-color: #414042;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $base-color;

    .highlight-inner-text {
        color: $highlight-color;
        cursor: pointer;
        text-decoration: none;

    }

    .intro {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F8F8F8;
        transition: 1s;

        .logo {
            position: absolute;
            top: 25vh;
            left: 40%;
            transform: translate(-50% -50%);
            animation: fadeIn 2s;
        }

        @media only screen and (max-width: 600px) {

            .logo {
                left: 15%;
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}